<!--The content below is only a placeholder and can be replaced.
<h1>Lazy-Loading Components Without Routing</h1>

<p>Check out the "Network" tab in F12 DevTools.</p>

<p>Then, click "Load!".</p>
<button type="button" (click)="showDialog()">Show Dialog!</button>
<button type="button" (click)="loadComponent()">Load!</button>-->

<p>User 1</p>
<button type="button" (click)="pr1Load()">Load Product 1</button>
<button type="button" (click)="pr2Load()">Load Product 2</button>

<p>User 2</p>
<button type="button" (click)="pr3Load()">Load Product 3</button>
<button type="button" (click)="pr4Load()">Load Product 4</button>

<div #testOutlet></div>
